@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,,600,600i,700,700i');

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #272727;
    font-weight: 300;
    font-size: 0.966em;
    height: 100%;
}

body.bg-red {

}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.h1, h1 {
    font-size: 3.718em;
}
.h4, h4 {
    font-size: 1.3rem;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
b, strong {
    font-weight: 700;
}
hr {
    border-top: 2px solid #e1e1e1;
}
img {
    max-width: 100%;
}

/*Header
========================================*/

header {
    /*padding: 2.3em 0 3.75em;*/
    padding: 35px 0 82px;
}
.home-header {
    padding: 2.3em 0 3.75em;
}
#logo {
    line-height: 0.2;
    margin: 0;
}
#logo img {
    max-width: 150px;
}
.navbar-light .navbar-toggler {
    color: #ffffff;
    border: 0;
    padding: 0;
    float: right;
    display: none;
}

.header-text {
    text-align: right;
    display: block;
}

/*menu
========================================*/
.bg-light {
    background-color: transparent!important;
    padding: 0;

}
.navbar-light .navbar-nav .nav-link {
    color: inherit;
    font-size: 0.85em;
    padding-left: 1rem;
    padding-right: 1rem;
}
.navbar-light .navbar-nav .nav-link.last {
    padding-right: 0;
}

.navbar-light .navbar-nav .has-border {
    border: 2px solid;
    border-radius: 35px;
    margin-left: 1rem;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
#wrapper-top .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #000;
    font-weight: 700;
}
.mm-navbars_bottom > .mm-navbar, .mm-navbars_top > .mm-navbar {
    padding: 1.8rem 15px;
    height: auto;
}
.mm-panel_has-navbar .mm-navbar {
    display: none;
}
.mm-menu_theme-black .mm-btn::after, .mm-menu_theme-black .mm-btn::before {
    border-color: #fff;
}
.mm-menu_theme-black .mm-navbar a, .mm-menu_theme-black .mm-navbar > * {
    color: #fff;
}
.mm-btn_clear::after, .mm-btn_clear::before, .mm-btn_close::after, .mm-btn_close::before {
    height: 15px;
    width: 15px;

}
.mm-menu_theme-black .mm-navbar a, .mm-menu_theme-black .mm-navbar > * {
    color: #fff;
    top: 2rem;
    right: 10px;
}
.mm-btn_clear::before, .mm-btn_close::before {
    right: 4px;
}
.mm-panel {
    padding: 0 15px;
}
.mm-panel::after, .mm-panel::before {
    content: '';
    display: none;
    height: 20px;
}
.mm-menu_theme-black.mm-menu_shadow-panels .mm-panel {
    display: flex;
    align-items: center;
    text-align: center
}
.mm-panels > .mm-panel > .mm-navbar + .mm-listview {
    margin: 0;
    width: 100%;
}
.mm-navbars_top {
    border: 0;
}
.mm-menu_theme-black .mm-listview a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    padding: 1.4rem 0;
}
/*Footer
============================================*/
#footer {
    background: #1b1b1b;
    color: #ffffff;
    padding:5rem 0;
}
ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.menu li {
    padding-top: 15px;

}
/*Other
=======================================*/
.table {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 2.3em;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 0;
    border-top: 0;
    color: #5d5d5d;
    font-weight: 600;
}
.table thead th:first-child {
    padding-left: 0;
}
.table td  {
    font-size: 1.2em;
    vertical-align: middle;
    border-top: 1px solid #e1e1e1;
}
.table td.field-name {
    font-weight: 600;
    padding-left: 0;
}
#wrapper {
    overflow: hidden;
    min-height: 100vh;
    position: relative;
}
#wrapper-top {
    background: rgba(254,135,135,1);
    background: -moz-linear-gradient(-45deg, rgba(254,135,135,1) 0%, rgba(231,96,101,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(254,135,135,1)), color-stop(100%, rgba(231,96,101,1)));
    background: -webkit-linear-gradient(-45deg, rgba(254,135,135,1) 0%, rgba(231,96,101,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(254,135,135,1) 0%, rgba(231,96,101,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(254,135,135,1) 0%, rgba(231,96,101,1) 100%);
    background: linear-gradient(135deg, rgba(254,135,135,1) 0%, rgba(231,96,101,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8787', endColorstr='#e76065', GradientType=1 );
    color: #fff;
    min-height: 100vh;
    background-attachment: fixed;
    position: relative;
}
.fullscreenimg {
    position: absolute;
    bottom: 0;
    right: 20%;
    height: 80vh;
}
.loading {
    background: url(images/loading.svg) no-repeat center center;
}
.bg-step {
    background: url(images/step1.jpg) no-repeat left bottom;
    background-size: 25% 15px;
    padding-bottom: 15px;
}

.step2 {
    background-image: url(images/step2.jpg);
    background-size: 50% 15px;
}
.step3 {
    background-image: url(images/step3.jpg);
    background-size: 75% 15px;
}
.step4 {
    background-image: url(images/step4.jpg);
    background-size: 100% 15px;
}
.loading-box {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 45%;
}
.form-group {
    position: relative;
    border-radius: 20px;
    margin:1.8rem 0;
}
.bg-red .form-group {
    border: 0;
}
.form-control:focus {
    color: #000;
    background: transparent;
    border: 2px solid #000;
    border-radius: 20px;
    box-shadow: 0 0 0 !important;
}
.form-control {
    border-radius: 35px !important;
    color: #000;
    background: transparent;
    box-shadow: 0 0 0 !important;
    border: 2px solid #000;
    padding: 16px 5px;
    text-align: center;
    font-size: 1.24rem;
}
.bg-red .form-control {
    box-shadow: 0 0 0 !important;
    border: 2px solid #fff;
    color: #fff;
}
.form-control::placeholder {
    color: #000;
}

.bg-red .form-control::placeholder {
    color: #fff;
}
.bg-red .form-group .btn-primary {
    color: #fff!important;
}
.form-group .btn-primary {
    position: absolute;
    right: 20px;
    top: 11px;
    background: transparent !important;
    color: #000;
    box-shadow: 0 0 0 !important;
    border: 0 !important;
    font-size: 2.5rem;
    line-height: 1.2;
    padding: 0;
}
.button {
    border-radius: 20px;
    border: 0;
    padding: 8px ;
    display: block;
    margin-bottom: 30px;

}
.white-button ,.white-button:hover {
    background: #fff;
    color: #000;
    font-weight: 600;
    height: 42px;
    line-height: 26px;
}
.btn-phone,.btn-phone:hover {
    background-image: -ms-linear-gradient(left, rgba(254,135,135,1) 0%, rgba(231,96,101,1) 100%);
    background-image: -moz-linear-gradient(left, rgba(254,135,135,1) 0%, rgba(231,96,101,1) 100%);
    background-image: -o-linear-gradient(left, rgba(254,135,135,1) 0%, rgba(231,96,101,1) 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(254,135,135,1)), color-stop(100, rgba(231,96,101,1)));
    background-image: -webkit-linear-gradient(left, rgba(254,135,135,1) 0%, rgba(231,96,101,1) 100%);
    background-image: linear-gradient(to right, rgba(254,135,135,1) 0%, rgba(231,96,101,1) 100%);
    color: #fff;
    display: inline-block;
    width: 60%;
    margin-top: 0.8rem;
    padding: 12px 8px;
    border-radius: 35px;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0 0 0 !important;
    border: 0!important;
    outline-width: 0!important;

}
.btn-phone::placeholder {
    color: #fff;
    text-align: center;
    opacity: 1;
}

.play-box {
    padding: 3rem 0 5rem;
}
.play-box i {
    font-size: 6rem;
    line-height: 1.2;
}
.app-row {
    margin-left: -10px;
    margin-right: -10px;
}
.app-row > div {
    padding-left: 10px;
    padding-right: 10px;
}
ul.list-bullet {
    list-style: none;
    padding: 0;
    margin:0;
}
ul.list-bullet li {
    background: #f67a7c;
    width: 13px;
    height: 13px;
    line-height: 0;
    display: inline-block;
    padding: 0;
    margin: 0 5px;
    border-radius: 8px;
}
.sub-container {
    width: 980px;
    max-width: 100%;
    margin:0pt auto;
}
.box-heading {
    padding: 2.8em 0 2em;
}
.empty-box {
    min-height: 650px;
}
.grey-section {
    background: #f9f9fa;
    padding: 45px 0;
    color: #7d7d7d;
}
.grey-section h4 {
    padding-bottom: 2.8rem;
}
.section-app {
    background: #fe8787;
    color: #fff;
    padding: 3.3em 0;
}
.section-app .app-container {
    width: 52%;
    margin:0pt auto;
    max-width: 100%;
}
.section-app .button {
    border: 2px solid #fff;
    border-radius: 35px;
    margin-top: 2.3em;
    font-weight: 600;
    padding: 0.65em 0;
    font-size: 1.3em;
}
.section-app  .button i {
    padding-right: 15px;
}

h3.widget-title {
    font-size: 1.2em;
}
ul.list-link {
    margin-left: 0;
    padding-left: 25px;
    margin-bottom: 50px;
}
ul.list-link li {
    list-style: none;
    padding-top: 1em;
}
ul.list-link li.active{
    list-style: outside;
    color: #e86968;
    font-weight: 600;
}
ul.list-link li a {
    color: #000;
}
.form-line label {
    font-weight: 700;
}
.form-line .wrap-input {
    padding: 5px 0;
    margin-bottom: 2em;
    border-bottom: 2px solid #e1e1e1;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 50%;
    font-size: 18px;
}
.form-line  .wrap-input.wrap-input-password {
    border-bottom: 0;
    margin-right: -0.6%;
    margin-left: -0.6%;
    margin-right: auto;
    margin-left: auto;
    font-size: inherit;
}
.form-line .wrap-input.wrap-input-password input {
    display: inline-block;
    border: 2px solid #fe8787;
    width: 14%;
    margin: 0 0.6%;
    text-align: center;
    font-size: 1.4em;
    border-radius: 5px;
    outline: none;
}
.select-group .form-line .wrap-input.wrap-input-password input {
    width: 55px;
    height: 55px;
    font-size: 4em;
}
.input-check {
    background-image: url(images/check-icon.jpg);
}
.input-error {
    background-image: url(images/x-icon.jpg);
}
.form-line .wrap-input input {
    border: 0;
    background: transparent;
    width: 100%;
    font-size: 18px;
    outline: none;
}

.arrow-icon {
    height: 25px;
}
.select-group {
    margin-top: 5em;
}
.select-group2 {
    width: 480px;
    margin: 5em auto 0;
    max-width: 100%;
}
.select-group4 {
    width: 300px;
    margin: 5em auto 0;
    max-width: 100%;
    color: gray;
    text-align: center;
}
.select-group4 input{
    text-align: center;
}
.select-box {
    width: 300px;
    padding: 1.3em 0;
    display: inline-block;
    border-radius: 35px;
    -webkit-box-shadow: 0px 8px 15px 0px rgba(151,151,151,0.19);
    box-shadow: 0px 8px 15px 0px rgba(151,151,151,0.19);
    position: relative;
    margin-bottom: 1.6em;
    cursor: pointer;
    max-width: 100%;
    font-weight: 400;
}
.product-item {
    margin-bottom: 8em;
}
.product-item img {
    width: 100%;
}
.product-item .select-box {
    padding: 1.2em 2em;
    width: auto;
}
.gifimg {
    font-weight: 400;

    margin-top: 2em;
}
.wrap-dot {
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 7px 18px 0px rgba(151, 151, 151, 0.1);
    display: inline-block;
    padding: 10px 15px;
    z-index: 200;
    margin-right: 15px;
}

.doticon {
    border-radius: 50%;
    background-image: -moz-linear-gradient( 165deg, rgb(231,96,101) 0%, rgb(254,135,135) 100%);
    background-image: -webkit-linear-gradient( 165deg, rgb(231,96,101) 0%, rgb(254,135,135) 100%);
    background-image: -ms-linear-gradient( 165deg, rgb(231,96,101) 0%, rgb(254,135,135) 100%);
    width: 15px;
    height: 15px;
    z-index: 201;
    display: inline-block;
}
.product-item .select-box .icon {
    background: #FB8282;
    background: -moz-linear-gradient(left, #FB8282 0%, #eb676c 100%);
    background: -webkit-linear-gradient(left, #FB8282 0%, #eb676c 100%);
    background: linear-gradient(to right, #FB8282 0%, #eb676c 100%);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    padding: 0;
    top: 0;
    right: -10px;
    line-height: 30px;
}
.product-item .select-box .icon.icon-blue {
    background: #A0DDFE;
    background: -moz-linear-gradient(left, #A0DDFE 0%, #81d1fa 100%);
    background: -webkit-linear-gradient(left, #A0DDFE 0%, #81d1fa 100%);
    background: linear-gradient(to right, #A0DDFE 0%, #81d1fa 100%);
}
.product-item .select-box .icon.icon-gray {
    background: #E6E2E2;
    background: -moz-linear-gradient(left, #E6E2E2 0%, #c4c0c0 100%);
    background: -webkit-linear-gradient(left, #E6E2E2 0%, #c4c0c0 100%);
    background: linear-gradient(to right, #E6E2E2 0%, #c4c0c0 100%);
}
.product-item .select-box .icon.icon-black {
    background: #949494;
    background: -moz-linear-gradient(left, #949494 0%, #737373 100%);
    background: -webkit-linear-gradient(left, #949494 0%, #737373 100%);
    background: linear-gradient(to right, #949494 0%, #737373 100%);
}
.delete-link {
    display: block;
    font-size: 0.8em;
}
.product-item  .select-box span {
    font-weight: 400;
}
.select-box2 {
    padding: 2.1em 0;
}
.select-group2 input {
    text-align: center;
}
.select-group3 input {
    text-align: left;
}
.select-group3 button {
    margin-top: 30px;
}
.select-box  span {
    display: block;
    font-weight: 600;
}
.select-box .icon {
    background: url(../images/notify.png) no-repeat center center;
    background-size: 100% 100%;
    height: 60px;
    width: 60px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    /*padding-top: 13px;*/
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 0.7em;
    color: #ffffff;
    line-height: 58px;
}
.select-box .icon img {
    max-width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -7px;
    margin-top: -7px;
}
.upload-field {
    margin-top: 220px;
    color: #000;
    font-weight: 400;
}
.upload-field i {
    color: #e1e1e1;
    font-size: 150%;
    margin-right: 10px;
}
.form-line2 .wrap-input {
    padding: 10px 0;
    margin-bottom: 15px;
}
.cart-item {
    padding-top: 1.6em;
    padding-bottom: 1.6em;
}
.item-img {
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 11px 34.2px 3.8px rgba(234, 105, 106, 0.08);
    padding-top: 20%;
    z-index: 447;
}

.item-img2 {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 11px 34.2px 3.8px rgba(75, 187, 218, 0.08);
}
ul.list-total {
    list-style: none;
    padding: 0;
    margin:0;
}
ul.list-total li {
    padding:5px 0;
    overflow: hidden;
}
ul.list-total .small {
    color: #9a9696;
    font-size: 0.7em;
}
.product-name {
    font-weight: 700;
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.red-button {
    border-radius: 40px;
    background-image: -moz-linear-gradient( 133deg, rgb(231,96,101) 0%, rgb(254,135,135) 100%);
    background-image: -webkit-linear-gradient( 133deg, rgb(231,96,101) 0%, rgb(254,135,135) 100%);
    background-image: -ms-linear-gradient( 133deg, rgb(231,96,101) 0%, rgb(254,135,135) 100%);
    box-shadow: 0px 1px 18px 0px rgba(237, 116, 113, 0.35);
    color: #fff;
    z-index: 472;
    border: 0;
    display: block;
    width: 100%;
    padding: 1.2em 0;
    font-weight: 700;
}
.red-button:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.fixed-button {
    border-radius:0;
    position: fixed;
    bottom: 0;
    left: 0;
}
.navigation {
    position: absolute;
    left: 0;
    bottom:50px;
    width: 100%;
}
.navigation a {
    display: inline-block;
    margin: 0 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.navigation a .fa {
    /*font-weight: bold;*/
}
.bg-red .form-control.input-code {
    padding: 0.6em;
    height: 58px;
}
.logo-list {
    display: inline-block;
    margin: 0 20px;
}
.tusenfryd {
    max-width: 135px;
}
.flyoget {
    max-width: 300px;
}
.if {
    max-width: 80px;
}
.stripe {
    padding-top:1.5em;
}
.faq-mobile {
    padding: 0;
}
.faq-mobile h3 {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #dbdbdb;
    margin: 0 0 2px 0;
    padding: 0 20px 22px;
}
.faq-mobile ul {
    padding: 0;
}
.faq-mobile ul li {
    list-style: none;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 18px;
}
.faq-mobile ul li a {
    font-size: 20px;
    font-weight: normal;
    padding: 0 20px;
}
.password-input-container p {
    padding: 0;
    margin: 0;
}
.password-input-container .select-group2 {
    margin: 3em auto 0;
}
.pass-container-1 {
    max-width: 260px;
}
.navigation.normal-postion {
    position: relative;
    left: auto;
    bottom: auto;
    margin: 50px 0px 30px;
}
















@media (max-width: 1199.98px) {
    .fullscreenimg {
        right: 10%;
    }
}

@media (max-width: 1025px) {
    body {
        font-size: 0.9rem;
    }
    .arrow-icon {
        height: 20px;
    }
    header {
        padding: 35px 0 82px;
    }
    .home-header {
        padding: 1.8rem 0 3rem;
    }
}

@media (min-width: 992px) {
    .bg-red .form-control.input-code {
        width: 51%;
        display: inline-block;
        padding: 0.6em;
    }

    .bg-red .form-group .btn-primary {
        color: #000 !important;
        position: static;
        display: inline-block;
        background: #ffffff !important;
        padding: 0.6em 1.2em;
        border-radius: 35px;
        font-size: 1.5em;
        margin-left: 1.7rem;
        border: 2px solid #fff !important;
        height: 58px;
    }
}

@media (min-width: 1024px) {

    #logo {
        max-width: 18.4%;
    }

    .sub-container {
        width: 74.6%;
    }
    .play-box {
        padding: 2.26em 0 5rem;
    }

    .play-box a {
        display: flex;
        align-items: center;
    }
    .play-box a span {
        padding-right: 15px;
    }
    .h4, h4 {
        font-size: 1.86em;
    }
}
@media (max-width: 1024px) {
    .bg-red .form-group .btn-primary {
        padding: 8px 35px;
    }
}
@media (max-width: 991.98px) {
    .select-group .form-line .wrap-input.wrap-input-password input {
        width: 36px;
        height: 36px;
        font-size: 3em;
    }
    .form-line .wrap-input {
        max-width: 260px;
        margin-right: auto;
        margin-left: auto;
    }
    .navbar {
        float: right;
    }
    .navbar-light .navbar-toggler {
        display: block;
    }
    .mm-menu_offcanvas.mm-menu_opened {
        display: block!important;
    }
    .bg-red main  {
        text-align: center;
    }
    .bg-red .form-group .btn-primary {
        padding: 0;
        top: 8px;
    }
    .grey-section {
        padding: 20px 0;
    }
    .grey-section .container {
        display: flex;
        flex-wrap: wrap;
    }
    .grey-section .container .logo-list {
        display: inline-block;
        margin: 0 auto;
        flex-grow: 1;
        height:50px;
        width: calc(100% * (1/3) - 10px - 1px);
    }
    .tusenfryd {
        max-width: 50px;
    }
    .grey-section .container .flyoget {
        max-width: 135px;
        margin: 0 10px;
    }
    .if {
        max-width: 30px;
    }
    .homepage-main-title {
        font-size: 3em;
        text-align: center;
    }
    .grey-section h4 {
        padding-bottom: 20px;
        margin-bottom: 0;
        font-size: 18px;
    }
    .form-line .wrap-input.card-number-container {
        max-width: 100%;
    }
    .card-number-container input {
        text-align: center;
    }
    .cc-bottom-input-container input {
        text-align: center;
    }
    .pass-container-1 {
        margin: 0 auto;
    }
}

.loading_icon{
    height:50px;
    width: 100px;
    margin: auto;
    margin-top: 30vh;
    background: url(../images/loading.svg) no-repeat center center;
}
.fail_div{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*{
    outline: none !important;
}
.btn_grad{
    background: rgba(254,135,135,1);
    background: -moz-linear-gradient(-45deg, rgba(254,135,135,1) 0%, rgba(231,96,101,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(254,135,135,1)), color-stop(100%, rgba(231,96,101,1)));
    background: -webkit-linear-gradient(-45deg, rgba(254,135,135,1) 0%, rgba(231,96,101,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(254,135,135,1) 0%, rgba(231,96,101,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(254,135,135,1) 0%, rgba(231,96,101,1) 100%);
    background: linear-gradient(135deg, rgba(254,135,135,1) 0%, rgba(231,96,101,1) 100%);
    color: white;
    min-width: 250px;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    border: none;
}

.phone_input_group{
    width: 300px;
    margin: 5em auto 0;
    max-width: 100%;
}

.react-tel-input input{
    border-radius: 5px !important;
}

.selected_sub{
    border: 2px solid rgb(231,96,101);
}

.center_phone_input{
    width: 200px;
    margin: auto;
}

.shadow_board{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.1);
    padding: 20px 0px;
}

.shadow_board .title{
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 15px;
}
.shadow_board .order_id{
    color: gray;
    margin-bottom: 30px;
}
.shadow_board .price{
    font-size: 40px;
    margin-bottom: 10px;
}
.shadow_board .vat{
    color: gray;
    margin-bottom: 50px;
}
.shadow_board .card_info{
    width: 80%;
    display: flex;
    justify-content: space-between
}


.marker {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: -50px;
    display: block;  
}

.pin {
    width: 20px;
    height: 20px;
    position: relative;
    top: 40px;
    left: 40px;   
    border: 2px solid #FFF;
    border-radius: 50%;
    z-index: 1000;
}

.pin-effect {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    display: block;
    border-radius: 50%;
    opacity: 0;
    animation: pulsate 2400ms ease-out infinite;
}

.red .pin{
    background: rgba(239, 98, 95, 1);
}
.red .pin-effect{
    background: rgba(239, 98, 95, 0.6);
}

.blue .pin{
    background: rgba(5, 124, 255, 1); 
}
.blue .pin-effect{
    background: rgba(5, 124, 255, 0.6);
}

@keyframes pulsate {
    0% {
    transform: scale(0.1);
    opacity: 0;
    }
    50% {
    opacity: 1;
    }
    100% {
    transform: scale(1.0);
    opacity: 0;
    }
}

.have_account_container{
    margin-top: 100px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.contact_textarea{
    margin-top: 20px;
    resize: none;
    width: 400px;
    height: 250px;
    border: none;
    box-shadow: 0px 8px 15px 0px rgba(151,151,151,0.19);
    border-radius: 5px;
    padding: 20px;
}

.contact_upload{
    margin-top: 70px;
    color: gray;
    font-size: 12px;
}

.autozoom_w{
    position: absolute;
    right: 24px;
    bottom: 100px;
    z-index: 9999999;
}
.cursor_icon{
    width: 33px;
    height: 33px;
}

.step_img{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 15px;
}
.finderMap_screen{
    text-align: center;
}

.map_left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileNumWrapper{
    margin: 30px 0px;
}

.addressWrapper{
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 30px;
}

.map_wrapper{
    width: 100%;
    height: 500px;
}

.center_text_form input{
    text-align: center;
}

.child_vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.child_to_center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_center{
    text-align: center;
}


.gift_check_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cus_checkbox{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 0px rgba(255, 140, 140, 0.5);
}

.cus_checked{
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-image: -moz-linear-gradient( 133deg, rgb(231,96,101) 0%, rgb(254,135,135) 100%); 
    background-image: -webkit-linear-gradient( 133deg, rgb(231,96,101) 0%, rgb(254,135,135) 100%); 
    background-image: -ms-linear-gradient( 133deg, rgb(231,96,101) 0%, rgb(254,135,135) 100%);
}

.summary_discount{
    border: none;

}

.checkout_modal .modal{
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.checkout_modal .modal-content{
    border: none;
    border-radius: 10px;
    min-width: 350px;
}

.modal_head{
    text-align: center;
    font-weight: bold;
    margin: 50px;
}
.err_text{
    text-align: center;
    margin: 50px;
}
.modal_btn{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: -moz-linear-gradient( 133deg, rgb(231,96,101) 0%, rgb(254,135,135) 100%); 
    background-image: -webkit-linear-gradient( 133deg, rgb(231,96,101) 0%, rgb(254,135,135) 100%); 
    background-image: -ms-linear-gradient( 133deg, rgb(231,96,101) 0%, rgb(254,135,135) 100%);
}












@media (min-width: 576px) {
    .step_img{
        display: none;
    }
}
@media (max-width: 576px) {
    .map_wrapper{
        width: 100vw;
        margin-left: -15px;
        margin-bottom: 15px;
    }
    .play-box {
        padding: 1rem 0 2rem;
    }
    .form-line{
        text-align: center;
        margin-bottom: 30px;
    }
    .form-line input{
        text-align: center;
    }
    .select-group2{
        margin: 2em auto 0;
    }
    .react-tel-input .country-list{
        display: none !important;
    }
}